@page
@model IndexModel
<h2>Welcome to certificate generator app by Block Bhunga.</h2>
<div class="container ">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <a class="btn btn-success m-2" asp-page="GenerateAll">Generate All Certificates</a>
        </div>
        <div class="col-md-6 mx-auto">
            <a class="btn btn-info m-2" asp-page="GeneratePerRo">Generate Certificate per RO</a>
        </div>
    </div>
</div>